In [8]:
# Code you have previously used to load data
import pandas as pd

# Path of the file to read
iowa_file_path = 'train.csv'

home_data = pd.read_csv(iowa_file_path)

# 1. Specify Prediction Target

In [13]:
#use dot notation to select dataset and column
y = home_data.SalePrice
#review the data
y

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64

# 2. Create X by listing the columns/variables used to predict Y

In [23]:
# Create the list of features below
# A list of columns from the dataset, remember the quotes (double and single quotes both work),
    # separate column names with commas, and start and end the list with square brackets
feature_names = ['LotArea',
'YearBuilt',
'1stFlrSF',
'2ndFlrSF',
'FullBath',
'BedroomAbvGr',
'TotRmsAbvGrd']

# Select data corresponding to features in feature_names
# Notice here you can not use dot notation because this is a list, not individual column names
X = home_data[feature_names]
#review the data
X

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
0,8450,2003,856,854,2,3,8
1,9600,1976,1262,0,2,3,6
2,11250,2001,920,866,2,3,6
3,9550,1915,961,756,1,3,7
4,14260,2000,1145,1053,2,4,9
...,...,...,...,...,...,...,...
1455,7917,1999,953,694,2,3,7
1456,13175,1978,2073,0,2,3,7
1457,9042,1941,1188,1152,2,4,9
1458,9717,1950,1078,0,1,2,5
1459,9937,1965,1256,0,1,3,6

# 3. Specify and Fit Model

In [26]:
from sklearn.tree import DecisionTreeRegressor
# Define model. Specify a numeric value for random_state to ensure same results each run / For model reproducibility
iowa_model = DecisionTreeRegressor(random_state=1)

# Fit the model
iowa_model.fit(X, y)

DecisionTreeRegressor(random_state=1)

# 4. Make Predictions

In [32]:
# Make predictions with the model's predict command using X as the data. Save the results to a variable called predictions.
predictions = iowa_model.predict(X)
print(predictions)

[208500. 181500. 223500. ... 266500. 142125. 147500.]

# 5. Compare predictions to y values

In [34]:
print(y,predictions)

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64 [208500. 181500. 223500. ... 266500. 142125. 147500.]

In [90]:
# compare only first 5 rows in column/values in array
print(list(y[0:5]),'\n',predictions[0:5],sep='')

[208500, 181500, 223500, 140000, 250000]
[208500. 181500. 223500. 140000. 250000.]